# Environment
.env
.env.*
!.env.example

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

## Datasets
data/raw/
data/*.csv
data/*.json
data/*.jsonl



# Models
*.pkl
*.pickle
*.joblib
*.pt
*.pth
*.bin
*.safetensors

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
